html {
    box-sizing: border-box;
    font-size: 16px;
    --main-color: rgb(154, 122, 228);
    --text-color: rgb(51, 51, 51);
    --light-text: rgb(150, 150, 150);
    --sidemenu-color: rgb(240, 240, 240);
    --borders-color: rgb(184, 184, 184);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: sans-serif;
    color: var(--text-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--main-color);
    padding: 5px 50px 5px 30px;
    display: flex;
    height: 50px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.content {
    display: flex;
    position: relative;
}

.icon {
    width: 1.3rem;
    height: 1.3rem;
}

header .icon {
    width: 1.6rem;
    height: 1.6rem;
}

.circle.icon {
    width: .7rem;
    height: .7rem;
    color: var(--main-color);
}

header .icon:hover {
    cursor: pointer;
}

#left-menu { 
    display: none;
    z-index: 1;
}

#left-menu.active {
    display: block;
    display: flex;
}

#left-menu .project-input > div:last-child {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    margin-top: 10px;
}

#left-menu .project-input {
    border: 1px solid var(--borders-color);
}

#left-menu .project-input > div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.project-input label {
    flex-shrink: 0;
}

.project-input .err-message {
    margin-top: 6px;
    color: rgb(150, 0, 0);
    font-size: .8rem;
}

#left-menu > div{
    padding: 38px 12px 24px 24px;
    background-color: var(--sidemenu-color);
    width: 280px;
}

#left-menu > div > div:nth-child(2) {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-menu > div > div:not(.projects-container), 
#left-menu .projects-container > div{
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 5px;
}

#left-menu .projects-container > div:hover, 
#left-menu .projects-container > .on-display {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}

#left-menu .projects-container > div {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 10px;
}

#left-menu .projects-container > div > span:last-child {
    min-width: 40px;
    text-align: right;
}

#left-menu .projects-container > div > span:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

#project-display {
    width: 100%;
    padding: 40px 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(200px, 700px);
    overflow-y: scroll;
    height: calc(100vh - 50px);
}

.clickable:hover {
    cursor: pointer;
    color: black;
}

.project-title {
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 2px solid var(--main-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}

.project .display-task-input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--sidemenu-color);
    border-radius: 5px;
    padding: 8px 5px;
}

.task-input {
    border: 1px solid var(--borders-color);
    border-radius: 5px;
    padding: 18px 14px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    row-gap: 10px;
    min-width: 200px;
}

.task-input label.description {
    grid-column-end: span 2;
}

.modal-content .task-input {
    border: none;
    padding: 10px 4px 0 4px;
}

.task-input label {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    white-space: nowrap;
}

.task-input label.priority,
.task-input label.project {
    grid-template-columns: auto 1fr;
}

textarea {
    width: 100%;
    resize: vertical;
    grid-column-end: span 3;
}

input {
    width: 100%;
}

input.title {
    grid-column-end: span 1;
}

input, textarea, select {
    border-radius: 2px;
    border: 1px solid var(--borders-color);
    box-shadow: 1px 2px 4px rgb(226, 226, 226);
    height: 32px;
    padding: 5px;
    font-size: .9rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    background-color: inherit;
    min-width: 0;
}

textarea {
    height: 60px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 10px;
}

input[type="date"], select {
    width: 100%;
    min-width: max-content;
}

select {
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

button {
    padding: 4px 8px;
    font-weight: bold;
    background-color: inherit;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: inherit;
}

button:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.task {
    margin-bottom: 24px;
    padding: 6px 0;
    font-size: .9rem;
}

.task .preview {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-bottom: 1px solid var(--borders-color);
    margin-bottom: 8px;
    column-gap: 8px;
    row-gap: 5px;
}

.task.completed {
    color: var(--light-text);
}

.task.completed .title {
    text-decoration: line-through;
}

.task .icons-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.task .preview > div:first-child, .task .preview > .icons-container {
    grid-row-end: span 3;
    align-self: start;
}

.task .due-date {
    font-size: .9rem;
}

.task .title, .task .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .description {
    color: var(--light-text);
    font-size: .8rem;
}

.task.high .flag {
    color: rgb(223, 0, 0);
}

.task.medium .flag {
    color: rgb(255, 166, 32);
}

.task.low .flag {
    color: green;
}

.task.completed .flag {
    color: var(--light-text);
}

.task .details {
    display: none;
    padding: 14px;
    border: 1px solid var(--borders-color);
    border-radius: 5px;
}

.task .details.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.task .details > div {
    display: flex;
    flex-wrap: wrap;
}

.task .details > div span:first-child {
    margin-right: 10px;
    font-weight: bold;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    border: 2px solid var(--text-color);
    border-radius: 3px;
    width: 17px;
    height: 17px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    background-color: rgb(36, 36, 255);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    transition: 120ms transform ease-in-out;
}

.modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.project > div:first-child {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.project .delete-project {
    border-left: 2px solid var(--main-color);
    padding: 3px 8px;
    font-size: .9rem;
    flex-shrink: 0;
}

.project .delete-project:hover {
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 1px;
    color: white;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 12px 18px;
    border-radius: 0.5rem;
    min-width: 250px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

@media only screen and (max-width: 800px) {
    #left-menu.active {
        position: absolute;
        background-color: rgba(39, 39, 39, 0.363);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .task-input label {
        grid-column-end: span 2;
    }

    .modal-content {
        width: initial;
    }

    .details-content {
        grid-template-columns: 1fr;
    }

    .task .details.active {
        grid-template-columns: 1fr;
    }
}

/*# sourceMappingURL=main.css.map*/